@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@media (max-width: 991px){
	.ojo{
		position: absolute;
	    left: 50%;
	    top: 56%;
	    transform: translate(-50%, -50%);
	    -webkit-transform: translate(-50%, -50%);
	}
}
@media (min-width: 992px){
	/*POSICION DE LA IMAGEN QUE GIRA*/
	.eye{
		 position: absolute;
	    left: 50%;
	    top: 50%;
	    transform: translate(-50%, -50%);
	    -webkit-transform: translate(-50%, -50%);
	}
	.eye:hover {
		transform: scale(2) translate(-25%, -25%);
	    -webkit-transform: scale(2) translate(-25%, -25%);
	}
	/*IDIOMAS*/
	.headerLang{
		position: absolute;
		left: 48%;
		top: 3%;
	}
	/*ESTILO DEL SEARCH*/
	.searchStyle{
		position: absolute;
		right: 10%;
		top: 50%;
	}
	.inputStyle {
  	border: 2px solid black;
	}
	.buttonStyle {
	  background-color: black;
	  border: 2px solid black;
	  color: white;
	}
	/*ESTILO DEL LOGO PRENSA*/
	.menu{
		position: absolute;
		top: 47%;
		right: 80%;
	}
}
a {
  text-decoration: none;
}
a:link {
  color: black;
}
.central-container{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}
.circular-text{
	display: block;
	margin: 0 auto;
}
.circular-img{
	animation: rotation 20s infinite linear;
}

.social-media{
	position: absolute;
	left: 50%;
	top: 95%;
	transform: translate(-48%, -48%);
    -webkit-transform: translate(-48%, -48%);
}
.mb-1{
	width: 70%!important;
}
.north {
	position: absolute;
	left: 50%;
	top: 30%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}
	.north-container {
		position: relative;
		width: 200px;
		height: 100px;
		text-align: center;
	}
	.north-container:hover .north-links {
		visibility: visible;
	}
	.north-letter {
		position: absolute;
		left: 50%;
		top: 0;
		transform: translate(-50%, 0);
		-webkit-transform: translate(-50%, 0);
	}
	.north-links {
		visibility: hidden; 
	}
	.north-links-left {
		position: absolute;
		right: 0;
		top: 0;
	}
	.north-links-right {
		position: absolute;
		left: 0;
		top: 0;
	}
	.north-links-down {
		position: absolute;
		left: 50%;
		bottom: 0;
		transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
	}

.west {
	position: absolute;
	left: 40%;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}
	.west-container {
		position: relative;
		width: 100px;
		height: 200px;
		text-align: center;
	}
	.west-container:hover .west-links {
		visibility: visible;
	}
	.west-letter {
		position: absolute;
		top: 45%;
		transform: translate(-50%, 0);
		-webkit-transform: translate(-50%, 0);
	}
	.west-links {
		visibility: hidden; 
	}
	.west-links-up {
		position: absolute;
		left: -18%;
		top: 5%;
	}
	.west-links-center {
		position: absolute;
		left: 40%;
		top: 45%;
	}
	.west-links-down {
		position: absolute;
		left: 5%;
		bottom: 0;
		transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
	}

.south {
	position: absolute;
	left: 50%;
	top: 70%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}
.east {
	position: absolute;
	left: 60%;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}